@font-face {
    font-family: "DinPro";
    src: url("../fonts/DINPro.otf");
}

@font-face {
    font-family: "DinPro-Bold";
    src: url("../fonts/dinpro-bold.otf");
}

* {
    font-family: "DinPro", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 93%;
    margin: 0 auto;
}

#header {
    background: -moz-linear-gradient(left, rgba(126,191,58,1) 0%, rgba(10,156,187,1) 100%);
    background: -webkit-linear-gradient(left, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
    background: linear-gradient(to right, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
    padding: 0.5% 0;
}

#header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .logo {
    width: 20vw;
    float: left;
}

#header .logo img {
    max-width: 100%;
}

#header .wrapper {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header .menu {
    width: 70%;
}

#header .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#header .menu ul li {
    list-style-type: none;
}

#header .menu ul li a {
    font-size: 1.2vw;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

#header .menu li.btn-sel-wrapper {
    width: 32%;
    text-align: right;
}

.btn {
    border: 0;
    border-radius: 2.5px;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    text-transform: uppercase;
    background: -moz-linear-gradient(top, rgba(169,40,52,1) 0%, rgba(211,16,39,1) 100%);
    background: -webkit-linear-gradient(top, rgba(169,40,52,1) 0%,rgba(211,16,39,1) 100%);
    background: linear-gradient(to bottom, rgba(169,40,52,1) 0%,rgba(211,16,39,1) 100%);
    outline: none;
    cursor: pointer;
    padding: 2.5% 5%;
}

#header .menu .btn-my-selection img {
    width: 1.1vw;
}

#header .phones a {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#slider-main {
    width: 100%;
}

#slider-main .swiper-slide img {
    width: 100%;
}

#slider-main .btn-to-catalog {
    position: absolute;
    width: 24%;
    bottom: 22.5%;
    left: 38%;
    background: -moz-linear-gradient(top, rgb(123,190,58) 0%, rgb(93,148,35) 100%);
    background: -webkit-linear-gradient(top, rgb(123,190,58) 0%,rgb(93,148,35) 100%);
    background: linear-gradient(to bottom, rgb(123,190,58) 0%,rgb(93,148,35) 100%);
    padding: 0.5% 1%;
}

section .container > .title {
    font-size: 2.2vw;
    font-family: "DinPro-Bold", sans-serif;
    text-align: left;
    text-transform: uppercase;
    background: -moz-linear-gradient(top, rgba(169,40,52,1) 0%, rgba(211,16,39,1) 100%);
    background: -webkit-linear-gradient(top, rgba(169,40,52,1) 0%,rgba(211,16,39,1) 100%);
    background: linear-gradient(to bottom, rgba(169,40,52,1) 0%,rgba(211,16,39,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#about-company p,
#architects p {
    font-size: 1.32vw;
    font-weight: 100;
}

#production {
    text-align: center;
}

#production .container {
    position: relative;
}

#production .product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#production .product {
    position: relative;
    width: 24%;
    max-height: 13.5vw;
    overflow: hidden;
    margin-bottom: 1.5vw;
}

#production .product img {
    width: 100%;
}

#production .product .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0.5vw 0;
    color: white;
    background: -moz-linear-gradient(top, rgba(123,190,58,0.8) 0%, rgba(93,148,35,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(123,190,58,0.8) 0%,rgba(93,148,35,0.8) 100%);
    background: linear-gradient(to bottom, rgba(123,190,58,0.8) 0%,rgba(93,148,35,0.8) 100%);
    font-size: 1vw;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

#production .product:nth-child(4) img,
#production .product:nth-child(5) img,
#production .product:last-child img {
    position: relative;
    bottom: 2.5vw;
}

#production .btn-to-catalog {
    padding: 0.5% 1%;
}

#production .btn-to-catalog a {
    color: white;
    text-decoration: none;
}

#production .search-wrapper {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: -moz-linear-gradient(bottom, rgba(126,191,58,1) 0%, rgba(10,156,187,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
    background: linear-gradient(to top, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
    border-radius: 2.5px;
    padding: 0.8vw 1.2vw;
}

#production .search-wrapper .title {
    font-size: 1.1vw;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

#production .search-wrapper .search {
    width: 55%;
    border: 0;
    border-radius: 2.5px;
    box-shadow: inset 0 0 6.5px rgb(0,0,0);
    font-size: 1.1vw;
    padding: 0.5vw 1vw;
    outline: none;
}

#production .search-wrapper .btn-search {
    font-size: 1.1vw;
    font-weight: 100;
    padding: 1% 1.5%;
}

#catalogs {
    text-align: center;
}

.files-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 0.8vw;
    margin-bottom: 2.5vw;
}

.file {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.file .icon {
    width: 3.4vw;
    position: relative;
    text-align: left;
}

.file .icon img {
    width: 2.8vw;
}

.file .icon .size {
    position: absolute;
    left: 0;
    bottom: -0.95vw;
    font-size: 0.95vw;
    color: #676767;
}

.file .title {
    font-family: "DinPro-Bold", "DinPro", "Arial", sans-serif;
    margin: 0;
    text-align: left;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}

#catalogs .btn-more-catalogs {
    background: -moz-linear-gradient(top, rgba(10,186,180,1) 0%, rgba(3,139,134,1) 100%);
    background: -webkit-linear-gradient(top, rgba(10,186,180,1) 0%,rgba(3,139,134,1) 100%);
    background: linear-gradient(to bottom, rgba(10,186,180,1) 0%,rgba(3,139,134,1) 100%);
    padding: 0.5% 1%;
}

#catalogs .btn-more-catalogs span {
    display: inline-block;
    font-weight: 100;
    margin-left: 0.5vw;
    transform: rotate(90deg);
}

#video .video-carousel {
    width: 100%;
}

#video .swiper-slide {
    text-align: center;
}

#video .swiper-slide img {
    max-width: 100%;
}

#video .swiper-button-prev,
#video .swiper-button-next {
    width: 2.5vw;
    height: 5vw;
    margin-top: -2.5vw;
    line-height: 4.5vw;
    background: -moz-linear-gradient(bottom, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
    background: -webkit-linear-gradient(bottom, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
    background: linear-gradient(to top, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
    text-align: center;
}

#video .swiper-button-prev {
    left: 0;
}

#video .swiper-button-next {
    right: 0;
}

#video .swiper-button-prev img,
#video .swiper-button-next img {
    width: 40%;
    max-width: 10px;
    vertical-align: middle;
}

#video .swiper-button-next img {
    transform: rotate(180deg);
}

#video .swiper-button-prev:hover,
#video .swiper-button-next:hover {
    background: -moz-linear-gradient(top, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
    background: -webkit-linear-gradient(top, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
    background: linear-gradient(to bottom, rgb(126,191,58) 0%, rgb(10,156,187) 100%);
}

#certificates  .cer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1.5vw;
}

#certificates  .cer-wrapper img {
    max-width: 12.5%;
}

#consultation {
    background: url("../images/consultation-bg.jpg") 50% 45% no-repeat;
    background-size: cover;
    padding: 1.5vw 0;
}

#consultation .title {
    color: white;
    margin: 0 0 1vw 0;
}

#consultation .subtitle {
    color: white;
    font-size: 1.25vw;
    font-weight: 100;
    margin: 0 0 1.5vw 0;
}

#consultation form {
    width: 28%;
    text-align: center;
    margin: 0 auto;
}

#consultation .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.5vw;
}

#consultation .form-group:nth-child(4) {
    align-items: flex-start;
}

#consultation .form-group:nth-child(4) label {
    margin-top: 1vw;
}

#consultation .form-group:last-child {
    text-align: left;
}

#consultation .form-group label {
    width: 30%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

#consultation .form-group input,
#consultation .form-group textarea {
    width: 60%;
    border: 0;
    border-radius: 2.5px;
    box-shadow: inset 0 0 5px rgb(0,0,0);
    font-size: 1.4vw;
    padding: 0.5vw 0.8vw;
    outline: none;
}

#consultation .form-group .wrapper {
    width: 66%;
    text-align: left;
}

#consultation .form-group textarea {
    resize: none;
}

#consultation .btn-send {
    font-size: 1.4vw;
    background: -moz-linear-gradient(top, rgb(123,190,58) 0%, rgb(93,148,35) 100%);
    background: -webkit-linear-gradient(top, rgb(123,190,58) 0%,rgb(93,148,35) 100%);
    background: linear-gradient(to bottom, rgb(123,190,58) 0%,rgb(93,148,35) 100%);
}

#architects .container > .title {
    margin-bottom: 0;
}

#architects .files-wrapper {
    width: 74%;
}

#footer {
    position: relative;
    padding: 1.5vw 0 2vw 0;
    background: -moz-linear-gradient(left, rgba(126,191,58,1) 0%, rgba(10,156,187,1) 100%);
    background: -webkit-linear-gradient(left, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
    background: linear-gradient(to right, rgba(126,191,58,1) 0%,rgba(10,156,187,1) 100%);
}

#footer .container {
    overflow: auto;
}

#footer .contacts {
    float: left;
}

#footer .contacts .title {
    font-size: 1.4vw;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

#footer .contacts p {
    font-size: 1.4vw;
    color: white;
    margin: 0;
}

#footer .contacts a {
    color: white;
    text-decoration: none;
}

#footer .contacts .address {
    border-bottom: 1px dashed white;
}

#footer .contacts .phones {
    font-size: 1.4vw;
    font-weight: bolder;
    margin: 1.5vw 0;
}

#footer .contacts .email {
    font-size: 1.3vw;
    font-weight: 100;
    text-decoration: underline;
}

#footer .socials {
    float: right;
}

#footer .socials .title {
    font-size: 1.4vw;
    text-transform: uppercase;
    color: white;
    margin: 0 0 0.5vw 0;
}

#footer .socials .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#footer .socials .links img {
    width: 2.9vw;
}

#footer .copyright {
    width: 5vw;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -2.5vw;
    bottom: 1.5vw;
    color: white;
}
